<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>Custom Courier Admin Panel</title>

    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    {% block stylesheets %}
        <!-- bootstrap & fontawesome -->
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/font-awesome/4.5.0/css/font-awesome.min.css') }}"/>

        <!-- page specific plugin styles -->

        <!-- text fonts -->
        <link rel="stylesheet" href="{{ asset('assets/css/fonts.googleapis.com.css') }}"/>

        <!-- ace styles -->
        <link rel="stylesheet" href="{{ asset('assets/css/ace.min.css') }}" class="ace-main-stylesheet"
              id="main-ace-style"/>

        <!--[if lte IE 9]>
        <link rel="stylesheet" href="{{ asset('assets/css/ace-part2.min.css') }}" class="ace-main-stylesheet"/>
        <![endif]-->
        <link rel="stylesheet" href="{{ asset('assets/css/ace-skins.min.css') }}"/>

        <link rel="stylesheet" href="{{ asset('assets/css/ace-rtl.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/aceStyle.css') }}"/>


        <!--[if lte IE 9]>
        <link rel="stylesheet" href="{{ asset('assets/css/ace-ie.min.css') }}"/>
        <![endif]-->
    {% endblock %}
    <!-- inline styles related to this page -->
    {% block javascripts %}
        <!-- ace settings handler -->
        <script src="{{ asset('assets/js/ace-extra.min.js') }}"></script>

        <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

        <!--[if lte IE 8]>
    <script src="{{ asset('assets/js/html5shiv.min.js') }}"></script>
    <script src="{{ asset('assets/js/respond.min.js') }}"></script>
<!-- basic scripts -->

        <!--[if !IE]> -->

        <script src="{{ asset('assets/js/jquery-2.1.4.min.js') }}"></script>

        <!-- <![endif]-->

        <!--[if IE]>
        <script src="{{ asset('assets/js/jquery-1.11.3.min.js') }}"></script>
        <![endif]-->
        <script type="text/javascript">
            if ('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
            if ('ontouchstart' in document.documentElement) document.write("<script src='{{ asset('assets/js/jquery.mobile.custom.min.js') }}'>" + "<" + "/script>");
        </script>
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>

        <!-- page specific plugin scripts -->

        <!-- ace scripts -->
        <script src="{{ asset('assets/js/ace-elements.min.js') }}"></script>
        <script src="{{ asset('assets/js/ace.min.js') }}"></script>
        {% javascripts '@printelement' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <!-- inline scripts related to this page -->
        <![endif]-->
    {% endblock %}
</head>

<body class="no-skin">
<div id="navbar" class="navbar navbar-default          ace-save-state">
    <div class="navbar-container ace-save-state" id="navbar-container">
        <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
            <span class="sr-only">Toggle sidebar</span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>
        </button>

        <div class="navbar-header pull-left">
            <a href="index.html" class="navbar-brand">
                <small>
                    <i class="fa fa-leaf"></i>
                    Custom Courier Admin Panel
                </small>
            </a>
        </div>

        <div class="navbar-buttons navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">
                <li class="light-blue dropdown-modal">
                    <a href="#">
								<span class="user-info">
									<small>Welcome,</small>
                                    {{ app.user.getUserName() }}
								</span>


                    </a>
                </li>
                <li><a href="{{ path('logout') }}"><i class="ace-icon fa fa-sign-out"></i>Logout</a></li>
            </ul>
        </div>
    </div><!-- /.navbar-container -->
</div>

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        } catch (e) {
        }
    </script>

    <div id="sidebar" class="sidebar                  responsive                    ace-save-state">
        <script type="text/javascript">
            try {
                ace.settings.loadState('sidebar')
            } catch (e) {
            }
        </script>


        <ul class="nav nav-list">
            <li class="">
                <a href="{{ path('numa_ccc_admin_homepage') }}">
                    <i class="menu-icon fa fa-tachometer"></i>
                    <span class="menu-text"> Dashboard </span>
                </a>

                <b class="arrow"></b>
            </li>

            {#<li class="">#}
                {#<a href="{{ path('dispatchcard') }}">#}
                    {#<i class="menu-icon fa fa-headphones"></i>#}
							{#<span class="menu-text">#}
								{#Dispatch Card#}
							{#</span>#}
                {#</a>#}
                {#<b class="arrow fa fa-angle-down"></b>#}
            {#</li>#}
            {% if is_granted('ROLE_SUPER_ADMIN') %}

                <li class="">
                    <a href="{{ path("batchx") }}">
                        <i class="menu-icon fa fa-list"></i>
                        <span class="menu-text"> Batches </span>
                    </a>
                    <b class="arrow"></b>
                </li>
            {% endif %}
            <li class="">
                <a href="{{ path("BillingPeriods") }}">
                    <i class="menu-icon fa fa-usd"></i>
                    <span class="menu-text"> Invoiced Billing Period Reports </span>
                </a>
                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="{{ path("probills") }}">
                    <i class="menu-icon fa fa-list-alt"></i>
                    <span class="menu-text"> Invoiced Probill Pictures </span>
                </a>

                <b class="arrow"></b>
            </li>
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_OCR') %}
                <li class="">
                    <a href="{{ path("customers") }}">
                        <i class="menu-icon fa fa-users"></i>
                        <span class="menu-text">Customers</span>
                    </a>
                    <b class="arrow"></b>
                </li>
            {% endif %}

            {% if is_granted('ROLE_SUPER_ADMIN') %}

                <li class="">
                    <a href="{{ path("report_compare_form") }}">
                        <i class="menu-icon fa fa-clone"></i>
                        <span class="menu-text">Reports</span>
                    </a>
                    <b class="arrow"></b>
                </li>
            {% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li class="">
                    <a href="{{ path("customer_emails") }}">
                        <i class="menu-icon fa fa-envelope"></i>
                        <span class="menu-text">Customer Emails</span>
                    </a>
                    <b class="arrow"></b>
                </li>
            {% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li class="">
                    <a href="{{ path("settings") }}">
                        <i class="menu-icon fa fa-envelope-square"></i>
                        <span class="menu-text">Email Template</span>
                    </a>
                    <b class="arrow"></b>
                </li>
            {% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li class="">
                    <a href="{{ path("command_log_home") }}">
                        <i class="menu-icon fa fa-align-right"></i>
                        <span class="menu-text">Command Log</span>
                    </a>
                    <b class="arrow"></b>
                </li>
            {% endif %}
            <li class="">
                <a href="{{ path("pendings") }}">
                    <i class="menu-icon fa fa-user-secret"></i>
                    <span class="menu-text"> Pending (nonbilled) Probill Pictures and Data</span>
                </a>
                <b class="arrow"></b>
            </li>
            {% if is_granted('ROLE_SUPER_ADMIN') %}

                <li class="">
                    <a href="{{ path("user_index") }}">
                        <i class="menu-icon fa fa-user-secret"></i>
                        <span class="menu-text"> Users </span>
                    </a>
                    <b class="arrow"></b>
                </li>
            {% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') %}

                <li class="">
                    <a href="{{ path("customrate_index") }}">
                        <i class="menu-icon fa fa-usd"></i>
                        <span class="menu-text">Custom Rates </span>
                    </a>
                    <b class="arrow"></b>
                </li>
            {% endif %}

        </ul><!-- /.nav-list -->
        {% block sidebar_add %}
            <ul class="sidebar-add list-group">
                {{ render_esi(controller('NumaCCCAdminBundle:Default:customRate')) }}
            </ul>
        {% endblock %}
        <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
            <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state"
               data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
        </div>
    </div>

    <div class="main-content">
        <div class="main-content-inner">
            <div class="page-content">
                <div class="ace-settings-container" id="ace-settings-container">
                    <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
                        <i class="ace-icon fa fa-cog bigger-130"></i>
                    </div>

                    <div class="ace-settings-box clearfix" id="ace-settings-box">
                        <div class="pull-left width-50">
                            <div class="ace-settings-item">
                                <div class="pull-left">
                                    <select id="skin-colorpicker" class="hide">
                                        <option data-skin="no-skin" value="#438EB9">#438EB9</option>
                                        <option data-skin="skin-1" value="#222A2D">#222A2D</option>
                                        <option data-skin="skin-2" value="#C6487E">#C6487E</option>
                                        <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
                                    </select>
                                </div>
                                <span>&nbsp; Choose Skin</span>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2 ace-save-state"
                                       id="ace-settings-navbar" autocomplete="off"/>
                                <label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2 ace-save-state"
                                       id="ace-settings-sidebar" autocomplete="off"/>
                                <label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2 ace-save-state"
                                       id="ace-settings-breadcrumbs" autocomplete="off"/>
                                <label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl"
                                       autocomplete="off"/>
                                <label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2 ace-save-state"
                                       id="ace-settings-add-container" autocomplete="off"/>
                                <label class="lbl" for="ace-settings-add-container">
                                    Inside
                                    <b>.container</b>
                                </label>
                            </div>
                        </div><!-- /.pull-left -->

                        <div class="pull-left width-50">
                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover"
                                       autocomplete="off"/>
                                <label class="lbl" for="ace-settings-hover"> Submenu on Hover</label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact"
                                       autocomplete="off"/>
                                <label class="lbl" for="ace-settings-compact"> Compact Sidebar</label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-highlight"
                                       autocomplete="off"/>
                                <label class="lbl" for="ace-settings-highlight"> Alt. Active Item</label>
                            </div>
                        </div><!-- /.pull-left -->
                    </div><!-- /.ace-settings-box -->
                </div><!-- /.ace-settings-container -->

                <div class="">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        {% include 'NumaCCCAdminBundle::flashmsg.html.twig' %}
                        {% block content %}
                        {% endblock %}
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->


    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->


</body>
</html>