{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}

{% block content %}
    <style>
        .progress { position:relative; width:400px; border: 1px solid #ddd; padding: 1px; border-radius: 3px; }
        .bar { background-color: #B4F5B4; width:0%; height:20px; border-radius: 3px; }
        .percent { position:absolute; display:inline-block; top:3px; left:48%; }
    </style>
<h1>Upload Pending Probills</h1>
    <form action="{{ path('pending_new') }}" id="pending_form" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </form>
    <div class="progress">
        <div class="bar"></div>
        <div class="percent">0%</div>
    </div>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script>
        (function() {

            var bar = $('.bar');
            var percent = $('.percent');
            var status = $('#status');
            var form = 'form#pending_form';
            $(form).ajaxForm({
                beforeSend: function()
                {

                    status.empty();
                    var percentVal = '0%';
                    bar.width(percentVal)
                    percent.html(percentVal);
                },
                uploadProgress: function(event, position, total, percentComplete) {
                    var percentVal = percentComplete + '%';
                    bar.width(percentVal)
                    percent.html(percentVal);
                },
                success: function(data) {

                    var percentVal = '100%';
                    bar.width(percentVal)
                    percent.html(percentVal);
                    if(data.status==1){

                        window.location.href = data.url;
                    }

                },
                complete: function(xhr) {
                    status.html(xhr.responseText);

                }
            });
        })();
    </script>
{% endblock %}
